#container{
  font-family: Helvetica Neue;
  font-size: 14px;
  width: 800px;
  margin: 0 auto;
}

#banner{
  text-align: center;
  padding: 30px;
  margin: 20px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  color: black;
  text-decoration: none;
}

#component {
  text-align: center;
  padding: 30px;
  margin: 20px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
}

#footer{
  text-align: center;
  padding: 30px;
  margin: 20px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
}

#photo_abdallah {
  width: 220px;
  height: 220px;
  border-radius: 50%,
}

.photo_player {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

h1 {
  color: black;
  font-family: Noto Serif
  font-size: 80px;
}

h4 {

}

#navigation {
  text-align: center;
  color: black;
  list-style-type: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

.icons img{
  width: 50px;
  height: 50px;
  border-radius: 50%
}

.text-justify {
  text-align: justify;
  margin: 10px;
}
